QuanlyHsWs_server/WebContent/wsdl/TimkiemWs.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws" xmlns:intf="http://ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="search">
    <complexType>
     <sequence>
      <element name="tenhs" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchResponse">
    <complexType>
     <sequence>
      <element name="searchReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="searchRequest">

      <wsdl:part element="impl:search" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchResponse">

      <wsdl:part element="impl:searchResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TimkiemWs">

      <wsdl:operation name="search">

         <wsdl:input message="impl:searchRequest" name="searchRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchResponse" name="searchResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TimkiemWsSoapBinding" type="impl:TimkiemWs">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="search">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TimkiemWsService">

      <wsdl:port binding="impl:TimkiemWsSoapBinding" name="TimkiemWs">

         <wsdlsoap:address location="http://localhost:8080/QuanlyHsWs_server/services/TimkiemWs"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
